services:
  # --- BASE DE DONNÉES ---
  mysql:
    image: mysql:8.0
    container_name: ms_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"
    volumes:
      - db_data:/var/lib/mysql
      - ./docker/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - app-network

  # --- SERVICE 1 : AUTH (Laravel) ---
  auth-service:
    build: ./services/auth-service
    container_name: ms_auth
    ports:
      - "8000:80"
    environment:
      APP_ENV: local
      APP_DEBUG: "true"
      APP_KEY: "base64:..." 
      DB_CONNECTION: mysql
      DB_HOST: mysql
      DB_PORT: 3306
      DB_DATABASE: ms_users
      DB_USERNAME: user
      DB_PASSWORD: password
    depends_on:
      - mysql
    networks:
      - app-network

# --- SERVICE 2 : EVENTS (Symfony) ---
  event-service:
    build: ./services/event-service
    container_name: ms_event
    ports:
      - "8001:80"
    environment:
      # C'EST LA LIGNE CRUCIALE : on remplace localhost par mysql
      DATABASE_URL: "mysql://user:password@mysql:3306/ms_events?serverVersion=8.0&charset=utf8mb4"
      APP_ENV: prod
      APP_DEBUG: 0
    depends_on:
      - mysql
    networks:
      - app-network
# --- SERVICE 3 : BOOKING (PHP Natif) ---
  booking-service:
    build: ./services/booking-service
    container_name: ms_booking
    ports:
      - "8002:80"
    environment:
      # CES VARIABLES SONT OBLIGATOIRES :
      DB_HOST: mysql
      DB_NAME: ms_bookings
      DB_USER: user
      DB_PASS: password
      EVENT_SERVICE_URL: http://event-service:80
      NOTIF_SERVICE_URL: http://notification-service:80
    depends_on:
      - mysql
    networks:
      - app-network  # --- SERVICE 4 : NOTIFICATION (Laravel) ---
  notification-service:
    build: ./services/notification-service
    container_name: ms_notification
    ports:
      - "8003:80"
    environment:
      MAIL_MAILER: smtp
      MAIL_HOST: smtp.gmail.com
      MAIL_PORT: 587
      MAIL_USERNAME: alizarry1@gmail.com
      MAIL_PASSWORD: ckygaqlhrahjjlqb
      MAIL_ENCRYPTION: tls
      MAIL_FROM_ADDRESS: "no-reply@eventapp.com"
      MAIL_FROM_NAME: "Event App"
    networks:
      - app-network

  # --- FRONTEND (React) ---
  frontend:
    build: ./frontend
    container_name: ms_frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app       # Code source lié
      - /app/node_modules     # <--- LE FIX WINDOWS (Volume anonyme)
    depends_on:
      - auth-service
    networks:
      - app-network

# --- C'EST CETTE PARTIE QUI MANQUAIT ---
networks:
  app-network:
    driver: bridge

volumes:
  db_data: